body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(28, 56, 99);
    margin-bottom: 20px;
    padding: 0 12px;
}

.header-content-wrapper {
    margin: 0 auto;
    width: 720px;
}

.header-button {
    font-size: 17px;
    padding: 16px 24px;
    color: #fff;
    display: inline-block;
}

.header-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.selected-btn {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.mode-btn {
    display: inline-block;
    margin: 7px 7px;
    border: solid 1px rgba(255, 255, 255, 0.1);
    padding: 7px 12px;
}

.mode-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.selected-mode-btn {
    background-color: rgba(255, 255, 255, 0.2);
}

.rogue {
    background-color: #fff569;
}

.mage {
    background-color: #69ccf0;
}

.warlock {
    background-color: #9482c9;
}

.hunter {
    background-color: #abd473;
}

.monk {
    background-color: #2d9b78;
}

.priest {
    background-color: #fff;
}

.paladin {
    background-color: #f58cba;
}

.deathknight {
    background-color: #c41f3b;
}

.demonhunter {
    background-color: #a330c9;
}

.druid {
    background-color: #ff7d0a;
}

.warrior {
    background-color: #c79c6e;
}

.shaman {
    background-color: #2459ff;
}

.evoker {
    background-color: #33937F;
}

.class-icon {
    vertical-align: middle;
}

.bar {
    margin-bottom: 4px;
    align-items: center;
    display: flex;
    padding: 0 7px;
    color: #fff;
    background-image: linear-gradient(0deg,rgba(30,30,30,0.1),rgba(30,30,30,0.2) 10%,rgba(30,30,30,0.75));
    border-radius: 5px;
    height: 26px;
    text-shadow: 2px 1px 1px #000;
    font-size: 14px;
    box-shadow: inset 0px 0px 0px 1px rgba(200,200,200,.3);
}

.table-header-wrapper {
    width: 1080px;
    margin: 0 auto;
    font-size: 14px;
    color: #fff;
    text-align: left;
}

.table-wrapper {
    width: 1080px;
    margin: 0 auto;
}

.class-bar {
    height: 26px;
    width: 0%;
    margin: 12px 0;
}

.class-name {
    height: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.class-dps {
    height: 21px;
}

.outside-dps-wrapper {
    position: relative;
}

.outside-dps {
    position: absolute;
    left: 15px;
    width: 200px;
}

.log-count {
    font-size: 12px;
    margin-top: 10px;
}

.class-data-points-wrapper {
    position: relative;
}

.class-data-points {
    position: absolute;
    left: -48px;
    top: -10px;
    text-align: right;
    width: 32px;
    color: rgba(255,255,255,.7);
}

.class-name-dps-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.type {
    float: left;
    color: #fff;
}

.type-tmi {
    font-size: 17px;
    padding: 16px 24px;
    color: #fff;
    display: inline-block;
}

.type-tmi:hover {
    background-color: #2268b8;
    cursor: pointer;
}

.type-tmi-selected {
    background-color: #2268b8;
}

.type-mitigation {
    font-size: 17px;
    padding: 16px 24px;
    color: #fff;
    display: inline-block;
}

.type-mitigation:hover {
    background-color: #2268b8;
    cursor: pointer;
}

.type-mitigation-selected {
    background-color: #2268b8;
}

.type-dps {
    font-size: 17px;
    padding: 16px 24px;
    color: #fff;
    display: inline-block;
}

.type-dps:hover {
    background-color: #970f26;
    cursor: pointer;
}

.type-dps-selected {
    background-color: #970f26;
}

.type-healing {
    font-size: 17px;
    padding: 16px 24px;
    color: #fff;
    display: inline-block;
}

.type-healing:hover {
    background-color: #0f9721ad;
    cursor: pointer;
}

.type-healing-selected {
    background-color: #0f9721ad;
}

.table-header-wrapper strong {
    font-size: 12px;
    vertical-align: middle;
    width: 65px;
    display: block;
    float: left;
    margin-top: 16px;
}

.mode-buttons {
    padding: 0 7px;
    float: left;
    width: 100%;
}

.log-count {
    padding: 7px;
}

.mode-button-grp {
    float: left;
    width: 800px;
}

.mode-btn-split {
    width: 45%;
}

.pos-left {
    float: left;
}

.pos-right {
    float: right;
    text-align: right;
}